
#acp_CartBackground {
    -fx-background-color: #191919;
}

#scp_Cart {
    -fx-background: #191919;
    -fx-border-color: #191919;
}

#hbx_CartMainHBox {

    -fx-background-color: #191919;
}

#btn_OrderCart {
    -fx-background-color: #518E21;
    -fx-background-radius: 12;
}

.txf_class_CartTextFields {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}

.lbl_class_CartLabels {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 32;
}



#vbx_CartCustomerInfo {
    -fx-spacing: 30;
}

#acp_CartBackground {
    -fx-background-color: #191919;
}

#scp_Cart {
    -fx-background: #191919;
    -fx-border-color: #191919;
}

#scp_Cart .track,
#scp_Cart .track-background {
    -fx-background-color: #191919;
}

#scp_Cart .thumb {
    -fx-background-color:  #949494;
}

#tbv_CartItemsTable {
    -fx-background-color: transparent;
}

#tbv_CartItemsTable .column-header .label {
    -fx-text-fill: #FFFFFF;
}

#tbv_CartItemsTable .column-header-background .filler {
    -fx-background-color: #191919;
}

#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical,
#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical .track,
#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: #191919;
}

#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #949494;
}


.tbc_class_TableColumns {
    -fx-background-color: #191919;
    -fx-text-fill: #FFFFFF;
}




#grp_orderInfoLabelGrid {
    -fx-spacing: 30;
}

#vbx_CartMovieCardsVBox {
    -fx-spacing: 20;
}









