#vbx_FilterBackground {
    -fx-background-color: #393939;
}

TextField {
    -fx-background-color: #949494;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-text-fill: #FFF;
}

Label {
    -fx-font-size: 16px;
    -fx-text-fill: #FFF;
}

Button {
    -fx-background-color: #FFFF3D;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-text-fill: #000;
}

#sld_rating .track {
    -fx-background-color: #949494;
}

#sld_rating .thumb {
    -fx-background-color: #FFFF3D;
}

#cbx_rating .box {
	-fx-background-color: white;
}
#cbx_rating .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
#cbx_rating:selected .mark {
	-fx-background-color: #000;
}
#cbx_rating:selected .box {
}


.combo-box {
    -fx-background-color: #949494;
    -fx-font-size: 16px;
    -fx-text-fill: #000;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.combo-box .list-cell {
    -fx-padding: 5 10;
}