.txf_class_movieAdd {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
    -fx-font-size: 22;
    -fx-text-fill: #FFF;
}

#txa_movieAddComment .content{
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}

#txa_movieAddComment {
    -fx-text-fill: #FFF;
    -fx-font-size: 17;
    -fx-background: #363636;
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
}

#txa_movieAddComment .scroll-bar:vertical,
#txa_movieAddComment .scroll-bar:vertical .track,
#txa_movieAddComment .scroll-bar:vertical .track-background {
    -fx-background-color: #363636;
}

#txa_movieAddComment .scroll-bar:vertical .thumb {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}

.lbl_class_movieAddCaptions {
    -fx-text-fill: #FFF;
    -fx-font-size: 32;
}

.btn_class_movieAddButtons {
    -fx-text-fill: #FFF;
    -fx-background-radius: 12;
    -fx-font-size: 22;
}

.btn_class_movieAddGreen {
    -fx-background-color: #518E21;
}

.btn_class_movieAddRed {
    -fx-background-color: #FF4040;
}

.lbl_class_movieAddTextFieldTitles {
    -fx-text-fill: #949494;
}

#acp_movieAddConstraintInfo {
    -fx-background-color: #191919;
}

.lbl_class_movieAddConstraintInfoTitle {
    -fx-text-fill: #FFF;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.lbl_class_movieAddConstraintInfos {
    -fx-text-fill: #FFF;
}

#lbl_movieAddSaveFeedback {
    -fx-font-size: 22;
}

#lbl_movieAddDeleteConfirmation {
    -fx-text-fill: #FF4040;
    -fx-font-size: 40;
}

#lbl_movieAddDeleteIdFeedback {
    -fx-text-fill: #FF4040;
    -fx-font-size: 22;
}

#acp_movieAddDeleteConfirmation {
    -fx-background-color: #191919;
}
