#lbl_nameMovieScene {
    -fx-font-size: 96;
    -fx-text-fill: #FFFFFF;
}

.lbl_class_movieSceneLabels {
    -fx-font-size: 32;
    -fx-text-fill: #FFFFFF;
}

#hbx_movieCoverInfos {
    -fx-spacing: 20;
}

#bpn_borderPaneMovieScene {
    -fx-background-color: #191919;
}

#stp_addToCartInfoAndButton {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}

#btn_addToCartMovieScene {
    -fx-background-color: #518E21;
    -fx-background-radius: 12;
}

.lbl_class_genreMovieScene {
    -fx-background-color: #696969;
    -fx-background-radius: 12;
}

#hbx_yearFskDurationMovieScene {
    -fx-spacing: 150;
}

#hbx_genreMovieScene {
    -fx-spacing: 10;
}

#txa_commentMovieScene {
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
}

#txa_commentMovieScene .content{
    -fx-background-color: #191919;
    -fx-background-radius: 0;
}

#txa_commentMovieScene .scroll-bar:vertical,
#txa_commentMovieScene .scroll-bar:vertical .track,
#txa_commentMovieScene .scroll-bar:vertical .track-background{
    -fx-background-color: #191919;
}

#txa_commentMovieScene .scroll-bar:vertical .thumb {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}