#mainWindow {
    -fx-background-color: #191919;

}

#header {
    -fx-background-color: #5C5C5C;
}

#filter {
    -fx-background-color: #393939;
}

.headerButton {
    -fx-background-color: #FFFF3D;
    -fx-background-radius: 12px;
    -fx-text-fill: #000;
    -fx-font-size: 28;
    -fx-font-family: inter;
    -fx-font-weight: regular;

}

#headerSearchbar {
    -fx-background-color: #949494;
    -fx-background-radius: 12px;
}

#btnHello {
    -fx-background-color: #fff476;
}


.backgroundLibrary{
    -fx-background-color: #191919;
}

.movieLabelLibrary{
    -fx-background-color: #393939;
    -fx-text-fill: white;
}


#hbx_navBar {
    -fx-background-color: #5C5C5C;
    -fx-alignment: center;
    -fx-spacing: 20;
}

#txf_searchBar {
    -fx-background-radius: 12;
    -fx-font-size: 32;
}

.anp_class_settingTabs {
    -fx-background-color: #393939;
}

.btn_class_navBarBtns {
    -fx-background-color: #FFFF8D;
    -fx-background-radius: 12;
    -fx-font-size: 32;
}

#btn_settings {
    -fx-border-radius: 50;
}

.lbl_class_SettingsLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 32;
}

#vbx_movieParamGrid {
    -fx-background-color: #393939;

}

#btn_addMovie {
    -fx-background-color: #518E21;

}

#btn_deleteMovie {
    -fx-background-color: #FF4040;
}

#hbx_dvdOrBlueRayCheckBoxes {
    -fx-spacing: 15;

}

#grp_movieParamSelect {

}


#spp_CartSplitPaneMiddle {
    -fx-background-color: #191919;
}

#btn_OrderCart {
    -fx-background-color: #518E21;
    -fx-background-radius: 12;
}

.txf_class_CartTextFields {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}

.lbl_class_CartLabels {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 32;
}

.hbx_class_CartValueHBoxes {
    -fx-spacing: 30;
}

#vbx_CartCustomerInfo {
    -fx-spacing: 30;
}

#headerSearchbar {
    -fx-text-fill: #000000;
}

#scp_Cart {
    -fx-background: #191919;
}

#tbv_CartItemsTable {
    -fx-background-color: transparent;
}

#tbv_CartItemsTable .column-header {
    -fx-background-color: #191919;
}

#tbv_CartItemsTable .column-header .label {
    -fx-text-fill: #FFFFFF;
}

.tbc_class_TableColumns {
    -fx-cell: #191919;
}

/*#spp_CartSplitPaneMiddle .divider {
    -fx-: #393939;
}*/

#hbx_CartMovie {
    -fx-background-color: #393939;
}

.lbl_class_CartMovieLabels {
    -fx-text-fill: #FFFFFF;
}
#lbl_CartMovieTitle {
    -fx-font-size: 32;
}

#hbx_CartMovieRatingDuration {
    -fx-spacing: 10;
}

.lbl_class_CartMovieInfo{
    -fx-font-size: 17;
}

#lbl_CartMovieRating {
    -fx-background-color: #5C5C5C;
}

#btn_CartDeleteMovie {
    -fx-background-color: #FF4040;
    -fx-background-radius: 12;
    -fx-font-size: 24;
}

#vbx_CartMovieRightVBox {
    -fx-spacing: 5;
}

#vbx_CartMovieCardsVBox {
    -fx-spacing: 20;
}

#igv_CartMovieImage {
    -fx-effect: dropshadow(gaussian, #191919, 10, 0.5, 2, 0);
}

#grp_orderInfoLabelGrid {
    -fx-spacing: 30;
}