.scroll-pane{
    -fx-background: #191919;
    -fx-background-color: #191919;
    -fx-border-color: #191919;
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
}

.scroll-pane,
.scroll-pane .track,
.scroll-pane .track-background {
    -fx-background-color: #191919;
}

.scroll-pane .thumb {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}


.button{
    -fx-cursor: hand;
    -fx-background-color: #FFFF3D;
    -fx-background-radius: 10px;
    -fx-text-fill: #000;
    -fx-font-size: 15;
    -fx-font-family: inter;
    -fx-font-weight: normal;
}

.button:hover{
    -fx-effect: dropshadow(three-pass-box, #fcfcb7, 10, 0.6, 0, 0);
}

#mainWindow {
    -fx-background-color: #191919;

}

#header {
    -fx-background-color: #5C5C5C;
}

#filter {
    -fx-background-color: #393939;
}

.headerButton {
    -fx-background-color: #FFFF3D;
    -fx-background-radius: 12px;
    -fx-text-fill: #000;
    -fx-font-size: 28;
    -fx-font-family: inter;
    -fx-font-weight: normal;

}
.button{
    -fx-cursor: hand;
}

.check-box{
    -fx-cursor: hand;
}

.btnYellow:hover{
    -fx-effect: dropshadow(three-pass-box, #fcfcb7, 10, 0.6, 0, 0);
}

.btnRed:hover{
    -fx-effect: dropshadow(three-pass-box, #d75050, 10, 0.6, 0, 0);
}

.btnGreen:hover{
    -fx-effect: dropshadow(three-pass-box, #6fbd37, 10, 0.6, 0, 0);
}

#headerSearchbar {
    -fx-background-color: #949494;
    -fx-background-radius: 12px;
    -fx-alignment: center;
}

#btnHello {
    -fx-background-color: #fff476;
}


.backgroundLibrary{
    -fx-background-color: #191919;
}

.movieLabelLibrary{
    -fx-background-color: #393939;
    -fx-text-fill: white;
}

#scrollPane .track,
#scrollPane .track-background {
    -fx-background-color: #191919;
}

#scrollPane .thumb {
    -fx-background-color:  #949494;
    -fx-background-radius: 12;
}


#hbx_navBar {
    -fx-background-color: #5C5C5C;
    -fx-alignment: center;
    -fx-spacing: 20;
}

#txf_searchBar {
    -fx-background-radius: 12;
    -fx-font-size: 32;
}

.anp_class_settingTabs {
    -fx-background-color: #393939;
}

.anp_class_settingTabDeleteEmployee {
    -fx-background-color: #393939;
    -fx-border-radius: 12px;
    -fx-border-color: white;
}

.btn_class_navBarBtns {
    -fx-background-color: #FFFF8D;
    -fx-background-radius: 12;
    -fx-font-size: 32;
}

#btn_settings {
    -fx-border-radius: 50;
}

.button-settings-delete{
    fx-background-color: #FFFF8D;
    -fx-background-radius: 12;
    -fx-font-size: 18;
}

.lbl_class_SettingsLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 32;
}

.lbl_class_SettingsLabelDeleteUser {
    -fx-text-fill: #f80202;
    -fx-font-size: 18;
}

.settingsTableView{
    -fx-background-color: #393939;
    -fx-background-radius: 7px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 9px;
    -fx-border-width: 2px;
}

.settingsTableView .column-header-background{
    -fx-background-color: #393939;
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent #FFFFFF transparent;
}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.table-view .table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 15;
}

.table-view .table-cell{
    -fx-text-fill: #FFFFFF;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.settingsTableView .column-header{
    -fx-background-color: transparent;
}

.settingsTableView .column-header .label{
    -fx-text-fill: #FFFFFF;
}

#pane_deleteEmployee{
    -fx-background-size: 1200 900;
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #393939;
    -fx-border-color: white;
}

.lbl_class_LoginLabelWrongCredentials {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.bib_textfieldLogin {
    -fx-background-color: #949494;
    -fx-background-radius: 12px;
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
}

.loginButton {
    -fx-background-color: #FFFF3D;
    -fx-background-radius: 12px;
    -fx-text-fill: #000;
    -fx-font-size: 22;
    -fx-font-family: inter;
    -fx-font-weight: normal;
}

#bpn_login {
    -fx-background-image:url("icons/cinema.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#vbx_movieParamGrid {
    -fx-background-color: #393939;

}

#btn_addMovie {
    -fx-background-color: #518E21;

}

#btn_deleteMovie {
    -fx-background-color: #FF4040;
}

#hbx_dvdOrBlueRayCheckBoxes {
    -fx-spacing: 15;

}

#grp_movieParamSelect {

}


.bib_textfield {
-fx-background-color: #949494;
-fx-background-radius: 12px;
-fx-font-size: 22;
-fx-text-fill: white;
-fx-prompt-text-fill: white;

}

.bib_comment {
    -fx-control-inner-background: #949494;/* Hintergrundfarbe */
        -fx-text-fill: white; /* Textfarbe */
        -fx-background-radius: 12px;
        -fx-font-size: 22;
        -fx-prompt-text-fill: white;
}

.bib-checkbox .box {
    -fx-background-color: #949494;
    -fx-background-radius: 50%;
    -fx-font-size: 16;

}

.bib-checkbox .box:selected {
    -fx-background-color: #949494;
}

.bib-checkbox .tick {
    -fx-background-color: transparent;
}

.bib-checkbox:selected .tick {
    -fx-background-color: white;
}

.bib-checkbox .text {
    -fx-font-size: 24;
}

.bib-button {
    -fx-background-color: black;
    -fx-background-radius: 12px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: inter;
    -fx-font-weight: normal;

}

.addButtonColor {
    -fx-background-color: #518E21;
}

.deleteButtonColor {
    -fx-background-color: #FF4040;
}


#hbx_CartMainHBox {

    -fx-background-color: #191919;
}

#btn_OrderCart {
    -fx-background-color: #518E21;
    -fx-background-radius: 12;
}

#cbx_showPassword {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.txf_class_CartTextFields {
    -fx-background-color: #949494;
    -fx-background-radius: 12;
}

.lbl_class_CartLabels {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 32;
}

.hbx_class_CartValueHBoxes {
    -fx-spacing: 30;
}

#vbx_CartCustomerInfo {
    -fx-spacing: 30;
}

#headerSearchbar {
    -fx-text-fill: #000000;
}

#acp_CartBackground {
    -fx-background-color: #191919;
}

#scp_Cart {
    -fx-background: #191919;
    -fx-border-color: #191919;
}

#scp_Cart:focused {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

#scp_Cart .track,
#scp_Cart .track-background {
    -fx-background-color: #191919;
}

#scp_Cart .thumb {
    -fx-background-color:  #949494;
    -fx-background-radius: 12;
}

#tbv_CartItemsTable {
    -fx-background-color: transparent;
}

#tbv_CartItemsTable .column-header .label {
    -fx-text-fill: #FFFFFF;
}

#tbv_CartItemsTable .column-header-background .filler {
    -fx-background-color: #191919;
}

#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical,
#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical .track,
#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: #191919;
}

#tbv_CartItemsTable .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #949494;
    -fx-background-radius: 12;
}

.tbc_class_TableColumns {
    -fx-background-color: #191919;
    -fx-text-fill: #FFFFFF;
}

#hbx_CartMovie {
    -fx-background-color: #393939;
}

#lbl_CartMovieCardFsk {
    -fx-background-color: #518E21;
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
}

.lbl_class_CartMovieLabels {
    -fx-text-fill: #FFFFFF;
}
#lbl_CartMovieTitle {
    -fx-font-size: 32;
}

#hbx_CartMovieRatingDuration {
    -fx-spacing: 10;
}

.lbl_class_CartMovieInfo{
    -fx-font-size: 17;
}

#lbl_CartMovieRating {
    -fx-background-color: #5C5C5C;
}

#btn_CartDeleteMovie {
    -fx-background-color: #FF4040;
    -fx-background-radius: 12;
    -fx-font-size: 24;
}

#vbx_CartMovieRightVBox {
    -fx-spacing: 5;
}

#vbx_CartMovieCardsVBox {
    -fx-spacing: 20;
}

#igv_CartMovieImage {
    -fx-effect: dropshadow(gaussian, #191919, 10, 0.5, 2, 0);
}

#grp_orderInfoLabelGrid {
    -fx-spacing: 30;
}

#grp_orderInfoLabelGrid {
    -fx-spacing: 30;
}

.btn_class_libraryAddMovieToCartButton {
    -fx-background-color: #5C5C5C;
    -fx-background-radius: 12;
    -fx-border-color: #191919;
    -fx-border-insets: -1;
    -fx-border-width: 2;
    -fx-border-radius: 12;
}

#pan_paneCartIconBackground {
    -fx-background-color: #518E21;


}



.tbp_settingsTabView > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #949494;

}

.tbp_settingsTabView > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 1 2;
}

.tab .tab-label {
    -fx-text-fill: white;
      -fx-font-size: 22px;
        -fx-wrap-text: true;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #191919;
}

.tab-pane {
    -fx-tab-min-width:150px;
    -fx-tab-max-width:150px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
}

.tbp_settingsTabView > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color:#393939;
}


.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;

}

#progress_Bar {
    -fx-background-color: transparent;

}

#progress_Bar .track{
    -fx-background-color: transparent;
}

#progress_Bar .bar {
    -fx-background-color: #8520EA;
    -fx-background-radius: 4, 4, 4, 4;
}

.btn_class_rentalMovieButtons {
    -fx-background-color: #5C5C5C;
    -fx-background-radius: 12;
}